body {
    background-color: rgb(107, 107, 107);
    font-family: Georgia, 'Times New Roman', Times, serif
}

.navbar-brand {
    background-color: rgb(10, 132, 180);
    margin: 0px;
    padding: 10px 10px 10px 10px;
    font-size: x-large;
    font-weight: 650;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
}

.jumbotron {
    background-color: rgb(180, 180, 180);
    margin-top: 30px;
    padding-top: 25px;
    padding-bottom: 10px;
}

.jumbotron h1{ 
    font-size: 45px;
    font: bold;
}

@media only screen and (max-width: 767px) {
    #jumbotron-h1{ 
       font-size: 40px;
    }
}

.jumbotron p {
    font-size: 18px;
}

#jumbo-right h1 {
    font-size: 25pt;
    margin: auto;
}

#main-img {
    float: left;
    width: 300px;
    margin-right: 25px;
}

img {
    width: 125px;
    float: left;
}

.center {
    margin: auto;
    display: inline;
    width: 50%;
}

#active-img {
    border: 4px solid rgb(40, 189, 139);
    padding: 2px;
    overflow: hidden;
    pointer-events: none;
}

figure a img:hover {
    border: 4px solid rgba(33, 168, 123, 0.336);
    padding: 2px;
    margin: -5px;
    -webkit-transform:scale(1); 
    -moz-transform:scale(1); 
    -ms-transform:scale(1);
    -o-transform:scale(1);
}