body {
    background-color: rgb(204, 201, 201);
}

.m1-auto .dropdown {
    left: auto !important;
    right: 0px;
}

.jumbotron {
    margin-top: 30px;
    padding-bottom: 10px;
}

.jumbotron h1{ 
    font-size: 45px;
    font: bold;
}

.jumbotron p {
    font-size: 18px;
}

#jumbo-right h1 {
    font-size: 25pt;
    margin: auto;
}

#main-img {
    float: left;
    width: 300px;
    margin-right: 25px;
}

img {
    width: 125px;
    float: left;
}

.center {
    margin: auto;
    display: inline;
    width: 50%;
}

